body {
  background-color: #ffffff;
}

.courseHeader {
  background-color: #7f0303;
  color: #ffffff;
}

.txtCourseTitle {
  font-size: 36px;
  font-weight: 700;
}

.txtCourseProf {
  font-size: 16px;
  font-weight: 400;
}
.loading {
  height: 30px;
  background: linear-gradient(90deg, #580202, #7f0303, #580202, #7f0303, #580202, #7f0303, #580202);
  background-size: 400%;
  animation: animate 40s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}
.btnEnroll {
  background-color: #ffffff;
  color: #7f0303;
  font-size: 18px;
  font-weight: bold;
}
.btnEnroll:hover {
  -webkit-box-shadow: 0px 0px 10px -3px #ffffff;
  box-shadow: 0px 0px 10px -3px #ffffff;
}
.txtCurrentChapter {
  font-weight: 600;
  font-size: 18px;
  color: #6d6d6d;
}
.txtProgressPercent {
  font-weight: bold;
  font-size: 18px;
}
.txtInfoTitle {
  font-size: 24px;
  font-weight: 900;
}

.txtInfoTitle p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}
.ratingContainer {
  border: 0.75px solid #c4c4c4;
  border-radius: 5px;
  max-height: 556px;
}
.ratingNumber {
  font-size: 58px;
  font-weight: 900;
}
.fa-star {
  color: #ffc700;
}
.txtReviews {
  font-size: 14px;
}
.dividerReview {
  width: 75%;
  border: 0.75px solid #b9b9b9;
}
.txtRatingTitle {
  font-size: 18px;
}
.txtRatingValue {
  font-size: 28px;
  font-weight: 900;
}
/* .rotate-icon { */
/* animation: rotate ; */
/* transform: rotate(180deg); */
/* } */
.courseDes {
  font-weight: 400;
  font-size: 16px;
}
.loadDes p {
  height: 16px;
  background: linear-gradient(90deg, #e5e5e5, #f4f4f4, #e5e5e5, #f4f4f4, #e5e5e5, #f4f4f4, #e5e5e5);
  background-size: 400%;
  animation: animate 40s linear infinite;
}

.accordionHeaderText {
  font-size: 18px;
  font-weight: 700;
}
.fa-play-circle,
.fa-file-alt {
  font-size: 24px;
  width: 24px;
}
.accordionSubItemText {
  font-size: 18px;
  font-weight: 700;
}
.lh-1 {
  line-height: 1;
}
.loadingRating {
  height: 58px;
  background: linear-gradient(90deg, #e5e5e5, #f4f4f4, #e5e5e5, #f4f4f4, #e5e5e5, #f4f4f4, #e5e5e5);
  background-size: 400%;
  animation: animate 40s linear infinite;
}
.reviewBox {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}
.reviewStar i {
  font-size: 20px;
}
.reviewDate {
  margin-left: auto;
  font-size: 14px;
  color: #7d7d7d;
}
.reviewName {
  font-weight: 900;
}
.btnMoreReviews {
  background: #7f0303;
}

@media screen and (max-width: 576px) {
  .rowChangeWidth {
    width: 100% !important;
  }
  .txtProgressPercent,
  .txtCurrentChapter {
    font-size: 16px;
  }
}
