.headerRow {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(120, 120, 120, 0.25);
}
.fa-chevron-left {
  cursor: pointer;
}
.fa-chevron-left:hover {
  transform: translateX(-5px);
  text-shadow: 0px 0px 10px #ce5937;
  color: #000000;
}
.courseTitle {
  font-weight: 900;
  font-size: 22px;
}
.btnSave {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  background: #f1c618;
}
.fa-chevron-left {
  font-size: 22px;
  color: #a9a9ac;
}
.txtCol1 {
  font-weight: 900;
  font-size: 15px;
  color: #b9b9ca;
}
.txtCol1 i {
  color: #b9b9ca;
}
.txtCol1:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.activeTab {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #000000;
}
.activeTab i {
  color: #000000;
}
.btnSubmit {
  font-weight: 900;
  font-size: 16px;
  background: #7f0303;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.paperMain {
  background: #ffffff;
  border: 0.75px solid #c4c4c4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.txtTitle {
  font-weight: 900;
  font-size: 20px;
}

.thumb {
  height: 200px;
  background: #e8e8e8;
  border-radius: 5px;
}
.thumbGuidelines {
  font-weight: 600;
  font-size: 15px;
  color: #8f8f8f;
}
.btnAdd {
  font-weight: 900;
  border: 0.75px solid #c4c4c4;
}
.btnAddChapter {
  font-weight: 900;
  background: #f1f1f1;
}
.btnAddChapter:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.btnModalContinue {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  color: #a2a2a2;
  font-weight: 700;
}
.btnModalContinueActive {
  background: #f1c618;
  color: #000000;
}

.btnModalCancel {
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
}
.btnModalAdd {
  font-size: 16px;
  font-weight: 700;
  background: #a9a9ac;
  border-radius: 5px;
  color: #ffffff;
}
.btnModalAdd:hover {
  color: #ffffff;
}
.btnAddActive {
  background: #7f0303;
}
.itemAdded {
  background: #f5f5f5;
  border: 0.75px solid #c4c4c4;
}
.deleteQuiz {
  font-size: 14px;
  color: #8f8f8f;
  cursor: pointer;
}
.deleteQuestion {
  font-size: 14px;
  color: #696969;
  cursor: pointer;
}
.deleteQuiz:hover,
.deleteQuestion:hover {
  color: #000000;
}

@media screen and (max-width: 576px) {
  body,
  .btnSave,
  .txtCol1,
  .btnSubmit,
  .btnAdd,
  .btnAddChapter {
    font-size: 14px;
  }
  .fa-chevron-left,
  .txtTitle {
    font-size: 18px;
  }
  .courseTitle {
    font-weight: 900;
    font-size: 18px;
  }
  .txtChapter {
    width: 100%;
  }
}
